In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('feedbacks.db')
cursor_obj = conn.cursor()

In [3]:
def show_all_tables():
    select_query = '''select name from sqlite_master  where type = 'table' '''
    cursor_obj.execute(select_query)
    tables = cursor_obj.fetchall()
    return tables

In [4]:
show_all_tables()

[('feedbacks',), ('sqlite_sequence',)]

In [5]:
# Infos über Tabelle anzeigen
def get_table_columns_info_df(table_name):
    def get_table_columns_info(table_name):
        query = "PRAGMA table_info({})".format(table_name)
        cursor_obj.execute(query)
        columns_info = cursor_obj.fetchall()

        columns_info_with_autoincrement = []
        for column_info in columns_info:
            cid, name, data_type, not_null, default_value, primary_key = column_info
            autoincrement = 'YES' if default_value and 'AUTOINCREMENT' in default_value else 'NO'
            columns_info_with_autoincrement.append((cid, name, data_type, not_null, default_value, primary_key, autoincrement))

        return columns_info_with_autoincrement
    # columns_info_with_autoincrement zu Dataframe umwandeln    
    import pandas as pd    
    columns_info = get_table_columns_info(table_name)
    column_names = ["Spalten_ID","Spaltenname", "Datentyp", "Zulässt NULL", "Standardwert", "Primärschlüssel", "Autoincrement"]
    df = pd.DataFrame(columns_info, columns=column_names)
    df.set_index('Spalten_ID', inplace=True)
    return df

# Infos über Tabelle "fahrrad" als DataFrame
get_table_columns_info_df('feedbacks')

,Spaltenname,Datentyp,Zulässt NULL,Standardwert,Primärschlüssel,Autoincrement
Spalten_ID,,,,,,
0,id,INTEGER,0,None,1,NO
1,name,TEXT,0,None,0,NO
2,email,TEXT,0,None,0,NO
3,feedback,TEXT,0,None,0,NO

In [6]:
# Alle Daten der Tabelle `feedbacks` anzeigen
select_query = '''SELECT * FROM feedbacks'''
cursor_obj.execute(select_query)

In [7]:
values_all = cursor_obj.fetchall()

In [8]:
for tuple in values_all:
    print(tuple)

(1, 'solaiman', 'solaiman@gmail.com', 'nicht schlecht')

In [9]:
conn.close()